.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}



}





/*

.container {
 background-color: #272727;
}

.container li {
  list-style: none;
}

footer {
  background-color:#0c1a1e;
  min-height:75px;
  font-family: 'Open Sans', sans-serif;
 }

*/







/***
Media Queries
***/

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
